@charset "utf-8";
html {
}

/* 

ここはメモだよ
複数行でも対応してますよ


*/
body {
}

img {
  max-width: 100%;
  height: auto;
}
.about-title.area-title{
  margin-bottom: 24px;
  color: red;
  text-align: center;

}

.area-title{
  color: blue;


}


.news{
  margin-bottom: 24px;
  color: red;
  text-align: center;  

}

.news-list{
 display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
}

.news-item{
  min-width: 33.333%;
  width: 33.333%;
  flex: 0 0 33.333%;
}



